<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="col-xs-10">
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="name" #name required>
        </div>
      </div>
      <div class="col-xs-2">
        <input type="submit" class="btn btn-primary" [disabled]="!f.valid">
      </div>
    </form>
  </div>

  <div class="row" *ngFor="let userItem of users;let i=index">
    <app-home-list-item [user]="userItem"></app-home-list-item>
  </div>
